VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmdXJuYnNlamR3cnJmd3R2aXZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3Njc3NTgsImV4cCI6MjEwNjM0Mzc1OH0.lNyyKz5PxYScYYo1dvkwBfqa5RjdN_7V-HgxEdI23zU
VITE_SUPABASE_URL=https://ifurnbsejdwrrfwtvivg.supabase.co